<div class="dashboard-component association-density shadow p-4">
    <div class="header">
        <h3>Association</h3>
        <div class="bg-success text-white px-5 py-2 rounded" id="regionName2">
            Region
        </div>
    </div>
    <div class="chart-component">
        <div class="chart">
            <canvas id="chartForHistogramOfAssociation"></canvas>
        </div>
    </div>
</div>

<script>
    const chartForHistogramOfAssociation = document.getElementById("chartForHistogramOfAssociation")
    const associations = {{ associationDensity|json_encode|raw }}
    const regionName2 = document.getElementById("regionName2")
    
    associationDensity(chartForHistogramOfAssociation, associations)
</script>