<div class="dashboard-component association-density shadow p-4">
    <div class="header">
        <h3>Association</h3>
    </div>
    <div class="chart-component">
        <div class="chart">
            <canvas id="chartForHistogramOfAssociation"></canvas>
        </div>
    </div>
</div>

<script>
    const chartForHistogramOfAssociation = document.getElementById("chartForHistogramOfAssociation")
    const associations = {{ associationDensity|json_encode|raw }}
    
    associationDensity(chartForHistogramOfAssociation, associations)
</script>