<div class="normalize-association dashboard-component shadow px-4 py-3">
    <div class="row">
        <h3>Association avec</h3>
        <div class="col-sm-12 col-md-6 col-lg-4 py-4 d-flex flex-column align-items-center normalize-item ">
            <h6 class="title">NIF/STAT</h6>
            <div class="chartNormalize">
                <canvas id="chartWithNif" width="150" height="150"></canvas>
                <div id="textOfNif">-%</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 py-4 d-flex flex-column align-items-center normalize-item ">
            <h6 class="title">Présidente</h6>
            <div class="chartNormalize">
                <canvas id="chartWithPresident" width="150" height="150"></canvas>
                <div id="textOfPresident">-%</div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 py-4 d-flex flex-column align-items-center normalize-item ">
            <h6 class="title">N° Recepissé</h6>
            <div class="chartNormalize">
                <canvas id="chartWithReceipt" width="150" height="150"></canvas>
                <div id="textOfRecepisse">-%</div>
            </div>
        </div>
    </div>
</div>

{# Save all value into variables in the percentage of normalize association variable in Javascript #}
<script>
    let percentageArray = {{ percentageNormalizeArray|json_encode|raw }}

    let nifStat = percentageArray.percentageWithNifStat
    let president = percentageArray.percentageWithPresident
    let numeroRecepisse = percentageArray.percentageWithNumeroRecepisse
</script>

{# Graphic chart for the NIF/STAT #}
<script>
    const chartWithNif = document.getElementById('chartWithNif');

    normalizeAssociation('textOfNif', chartWithNif, nifStat, 1)
</script>

{# Graphic chart for association who have president #}
<script>
    window.chartWithPresident = document.getElementById('chartWithPresident');

    normalizeAssociation('textOfPresident', chartWithPresident, president, 2)
</script>

{# Graphic chart for the "numéro recepissé" #}
<script>
    window.chartWithReceipt = document.getElementById('chartWithReceipt');

    normalizeAssociation('textOfRecepisse', chartWithReceipt, numeroRecepisse, 3)
</script>