<div class="normalize-association dashboard-component shadow px-4 py-3">
    <div class="row">
        <h3>Association avec</h3>
        <div class="col-sm-12 col-md-6 col-lg-4 py-4 d-flex flex-column align-items-center normalize-item ">
            <h6 class="title">NIF/STAT</h6>
            <canvas id="chartWithNif" width="150" height="150"></canvas>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 py-4 d-flex flex-column align-items-center normalize-item ">
            <h6 class="title">Présidente</h6>
            <canvas id="chartWithPresident" width="150" height="150"></canvas>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 py-4 d-flex flex-column align-items-center normalize-item ">
            <h6 class="title">N° Recepissé</h6>
            <canvas id="chartWithReceipt" width="150" height="150"></canvas>
        </div>
    </div>
</div>

{# Save all value into variables in the percentage of normalize association variable in Javascript #}
<script>
    let percentageArray = {{ percentageNormalizeArray|json_encode|raw }}

    let nifStat = percentageArray.percentageWithNifStat
    let president = percentageArray.percentageWithPresident
    let numeroRecepisse = percentageArray.percentageWithNumeroRecepisse
</script>

{# Graphic chart for the NIF/STAT #}
<script>
    const chartWithNif = document.getElementById('chartWithNif');

    normalizeAssociation('chartWithNif', chartWithNif, nifStat, 'textOfNif')
</script>

{# Graphic chart for association who have president #}
<script>
    const chartWithPresident = document.getElementById('chartWithPresident');

    normalizeAssociation('chartWithPresident', chartWithPresident, president, 'textOfPresident')
</script>

{# Graphic chart for the "numéro recepissé" #}
<script>
    const chartWithReceipt = document.getElementById('chartWithReceipt');

    normalizeAssociation('chartWithReceipt', chartWithReceipt, numeroRecepisse, 'textOfReceipt')
</script>