<div class="total-association dashboard-component shadow p-4">
    <div class="loading" data-access="loadingOfTotalAssociation">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="header mb-4">
        <h3>Total</h3>
        <div class="bg-success px-4 py-2 rounded d-flex justify-content-center gap-2" id="localisation">
            <div id="regionName">Region</div>
            <div>/</div> 
            <div id="districtName">District</div>
        </div>
    </div>
    <p class="number mb-4" id="numberOfAssociation">{{ totalAssociation.total }} associations</p>
    <div class="search mb-3">
        <select name="region" id="region">
            <option value="none">Region</option>
            {% for region in regions %}
                <option value={{ region.id }}>{{ region.nom }}</option>
            {% endfor %}
        </select>
        <select name="district" id="district">
            <option value="none">District</option>
        </select>
    </div>
</div>

<script>
    totalAssociation()
</script>