{% extends 'base.html.twig' %}

{% block title %}Gestion Association{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('style/app/app.css') }}>
    <link rel="stylesheet" href={{ asset('style/partials/sidebar.css') }}>
    <link rel="stylesheet" href={{ asset('style/partials/navbar.css') }}>
    
    {# This is the stylesheet for all child who
        herited this template #}
    {% block child_stylesheets %}{% endblock %}
{% endblock %}

{% block body %}
    <section class="app-section">
            {% include 'partials/sidebar.html.twig' %}
            <div class="container-section">
                {% include 'partials/navbar.html.twig' %}
                {% block container %}{% endblock %}
            </div>
    </section>
    <script src={{ asset('js/sidebar.js') }}></script>
{% endblock %}
