{% extends 'base.html.twig' %}

{% block title %}Gestion Association{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('style/app/app.css') }}>
    <link rel="stylesheet" href={{ asset('style/partials/sidebar.css') }}>
{% endblock %}

{% block body %}
    <section class="dashboard-section">
        {% include 'partials/sidebar.html.twig' %}
    </section>
    <script src={{ asset('js/sidebar.js') }}></script>
{% endblock %}
