table tr {
  vertical-align: middle;
}
table tr > td,
table tr > th {
  font-size: 14px;
}
table tr > td:nth-child(3),
table tr > td:nth-child(4),
table tr > td:nth-child(5),
table tr > td:nth-child(6) {
  min-width: 135px;
}
table tr > td:last-child {
  text-align: center;
  width: 100px;
}
table tr td svg {
  color: white;
}

/* Pour mettre en valeur certain input dans la creation et edition d'assocation */
.nif_stat {
  background-color: rgb(226, 236, 244);
}
.nif_stat > div {
  margin-bottom: 0 !important;
}

.district {
  padding: 12px 16px;
}

.commune > div {
  padding: 12px 16px;
  background-color: rgb(226, 236, 244);
  border-radius: 6px;
}

/* La section modification */
.association-femme-edit button {
  display: inline;
  float: right;
  background-color: var(--primary);
  color: white;
  transition: 0.25s ease;
}
.association-femme-edit button:hover {
  background-color: var(--primary-hover);
  color: white;
}

/* Modification des modales */
.modal .modal-content .modal-header,
.modal .modal-content .modal-footer {
  border: none;
}
.modal .modal-content .modal-header .modal-title svg {
  width: 28px;
}
.modal .modal-content .modal-footer .btn:first-child {
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  font-size: 14px;
  transition: 0.25s ease;
}
.modal .modal-content .modal-footer .btn:first-child:hover {
  background-color: var(--primary-hover);
}

/* Modification du datatable */
div.dt-container div.dt-length select {
  width: 75px;
}
.dt-search input[type="search"] {
  padding: 7px;
  width: 225px !important;
}
.dt-search input[type="search"]:focus,
div.dt-container div.dt-length select:focus {
  border: none;
  box-shadow: 0 0 0 0.2rem #4d9875;
}
table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
  font-size: 0.5em;
}
table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
  text-align: center;
}
