:root {
    --sidebar-width: 250px
}

/* Sidebar body */
.sidebar {
    border-radius: 0 15px 15px 0;
    width: 85px;
    min-height: 100vh;
    color: white;
    transition: all .4s ease-in-out;
}
/* While sidebar was maximised */
.sidebar.expanded {
    width: var(--sidebar-width);
}


/* Sidebar header */
.sidebar .sidebar-header {
    padding: 25px 0;
    width: 100%;
}
.sidebar .sidebar-header h4 {
    width: 0;
    opacity: 0;
    transition: width .4s ease-in-out, padding .4s ease-in-out, opacity .4s ease-in-out;
}
.sidebar .sidebar-header .logo img {
    width: 50px;
    transition: transform .4s ease-in-out, width .4s ease-in-out;
}
/* While sidebar was maximised */
.sidebar.expanded .sidebar-header {
    padding: 25px 0;
    width: 100%;
    margin: auto;
}
.sidebar.expanded .sidebar-header h4 {
    opacity: 1;
    width: 65px;
    padding-left: 15px;
}
.sidebar.expanded .sidebar-header .logo img  {
    width: 35px;
    transform: rotateZ(-10deg);
}


/* Sidebar menu */
.sidebar .sidebar-menu {
    margin-bottom: 35px;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar .sidebar-menu::-webkit-scrollbar {
    width: 0px;
}

.sidebar .sidebar-menu .item-group {
    padding: 15px 0px;
    width: 100%;
}
.sidebar .sidebar-menu .item-group .fonction {
    text-transform: uppercase;
    opacity: 0.65;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 0px 10px 16px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sidebar .sidebar-menu .item-group > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 12px 16px;
}
.sidebar .sidebar-menu .item-group > a:hover {
    background-color: #0b5f3890;
}
.sidebar .sidebar-menu .item-group > a.active {
    background-color: #0b5f38;
}
.sidebar .sidebar-menu .item-group > a svg {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}
.sidebar .sidebar-menu .item-group > a svg:last-child {
    width: 10px;
}
.sidebar .sidebar-menu .item-group a > div {
    padding-left: 15px;
    width: 0;
    opacity: 0;
    transition: width .4s ease-in-out, opacity .4s ease-in-out;
}
/* While sidebar was maximised */
.sidebar.expanded .sidebar-menu .item-group > a svg:last-child {
    margin-left: auto;
}
.sidebar.expanded .sidebar-menu .item-group a > div {
    width: var(--sidebar-width);
    opacity: 1;
}


/* Sidebar closed button */
.sidebar .sidebar-toggle {
    width: 35px;
    margin: auto;
}
.sidebar .sidebar-toggle > div{
    background-color: #dee2e655;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transform: rotateZ(-180deg);
    transition: transform .4s ease-in-out;
    cursor: pointer;
}
.sidebar .sidebar-toggle > div svg {
    width: 13px;
}