<div class="total-association shadow px-4 py-2">
    <div class="header mb-4">
        <h3>Total</h3>
        <div class="bg-success px-4 py-2 rounded">Arivonimamo / Miarinarivo</div>
    </div>
    <p class="number mb-4">554 associations</p>
    <div class="search mb-3">
        <select name="region" id="region">
            <option value="none">Region</option>
            <option value="1">Analamanga</option>
            <option value="2">Haute-Matsiatra</option>
            <option value="3">Amoron'i Mania</option>
        </select>
        <select name="district" id="district">
            <option value="none">District</option>
            <option value="1">Miarinarivo</option>
            <option value="2">Mananara Nord</option>
            <option value="3">Ifanadiana</option>
        </select>
    </div>
</div>