:root {
  --primary: #198754;
  --primary-hover: #136a41;
}

.app-section {
  display: flex;
  flex-basis: 1;
}

.app-section .container-section {
  width: 100%;
  min-height: 100vh;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  padding: 7px 15px !important;
}
select:focus {
  outline: 2px solid #198754;
  border: none;
}
input:focus {
  border: none;
  box-shadow: 0 0 0 0.2rem #4d9875 !important;
}
input::placeholder {
  font-size: 14px;
}
.action-button {
  border: 2px solid var(--primary);
  color: var(--primary);
  font-weight: bolder;
  font-size: 14px;
}
.action-button:hover {
  background-color: var(--primary);
  color: white;
}
