.dashboard-section {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 45% minmax(calc(55% - 15px), 60%);
}
.dashboard-section .header {
    display: flex;
    align-items: center;
    gap: 35px;
}
.dashboard-section select {
    padding: 7px 10px;
    border-radius: 7px;
}
@media screen and (max-width: 1024px) {
    .dashboard-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

/* Generics styles for dashboard component in the dashboard */
.dashboard-section .dashboard-component {
    position: relative;
    padding: 16px;
    border-radius: 17px;
}
.dashboard-section .chart-component {
    padding-top: 15px;
    width: 100%;
}
.dashboard-section .chart-component .chart {
    width: calc(100% - 15px);
}

/* The total association component */
.dashboard-section .total-association {
    min-width: 350px;
}
@media screen and (max-width: 768px) {
    .dashboard-section .total-association {
        min-width: 100%;
    }
}
.dashboard-section .total-association .header div {
    color: white;
    max-width: 400px;
    height: auto;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.dashboard-section .total-association .header div > div:nth-last-child(2) {
    width: 7px;
}
@media screen and (max-width: 768px){
    .dashboard-section .total-association .header div {
        max-width: 250px;
    }
}
.dashboard-section .total-association .number {
    font-size: xx-large;
    font-weight: bold;
}
.dashboard-section .total-association .search {
    display: flex;
    gap: 25px;
}
.dashboard-section .total-association .search select {
    width: 50%;
}

/* The percentage for association normalized */
.dashboard-section .normalize-association .normalize-item {
    border-radius: 7px;
    transition: .5s ease;
}
.dashboard-section .normalize-association .normalize-item:hover {
    background-color: rgb(215, 215, 215);
}

/* Histogram showing the associationn density */
.dashboard-section .association-density {
    grid-column: 1 / 3;
}

/* The chart that show the commune who have the most of association */
.dashboard-section .total-commune-association {
    grid-column: 2 / 3;
}

/* The chart of needed per region */
.dashboard-section .densite-besoin {
    grid-column: 2 / 3;
}