.dashboard-section {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 40% minmax(calc(60% - 15px), 60%);
}
@media screen and (max-width: 1024px) {
    .dashboard-section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

/* Generics styles for chart component in the dashboard */
.dashboard-section .chart-component {
    border-radius: 17px;
}

/* The total association component */
.dashboard-section .total-association {
    min-width: 350px;
}
@media screen and (max-width: 768px) {
    .dashboard-section .total-association {
        min-width: 100%;
    }
}
.dashboard-section .total-association .header {
    display: flex;
    align-items: center;
    gap: 35px;
}
.dashboard-section .total-association .header div {
    color: white;
    max-width: 400px;
    height: auto;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.dashboard-section .total-association .header div > div:nth-last-child(2) {
    width: 7px;
}
@media screen and (max-width: 768px){
    .dashboard-section .total-association .header div {
        max-width: 250px;
    }
}
.dashboard-section .total-association .number {
    font-size: xx-large;
    font-weight: bold;
}
.dashboard-section .total-association .search {
    display: flex;
    gap: 25px;
}
.dashboard-section .total-association .search select {
    width: 50%;
    padding: 7px 10px;
    border-radius: 7px;
}

/* The total association for each commune component */
.dashboard-section .total-commune-association .header {
    display: flex;
    gap: 20px;
}
.dashboard-section .total-commune-association {
    width: 100%;
}
.dashboard-section .total-commune-association .total-commune-chart {
    width: 100%;
    margin-top: 15px;
}
.dashboard-section .total-commune-association .total-commune-chart .chart {
    width: 100%;
    height: 200px;

}
