/* For authentication */
.authentication-section {
  display: flex;
  height: 100vh;
}
/* It's point div container after the authentication-section */
.authentication-section > div {
  width: 100%;
}
.authentication-section .authentication-image {
  background: url("../../image/assets/association.png") center center;
  background-size: cover;
  object-fit: cover;
  height: 100%;
}
.authentication-section .authentication-form {
  align-self: center;
}
.authentication-section .authentication-form .logo {
  background: url("../../image/assets/logo_mps.png") center center;
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
.authentication-section .authentication-form .checkbox-auth {
  font-size: 14px;
}
.authentication-section .authentication-form a.second {
  background-color: var(--bs-purple);
  color: white;
}
.authentication-section .authentication-form a.second:hover {
  background-color: var(--bs-indigo);
}

@media screen and (max-width: 768px) {
  .authentication-section .authentication-image {
    display: none;
  }
}

/* For registration */
/* .register-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-section .register-image {
  width: 100%;
  height: 100%;
  background: url("../../image/assets/association.png") center center;
}
.register-section .register-form {
  width: 100%;
  height: 100%;
}
.register-section .register-form .logo {
  background: url("../../image/assets/logo_mps.png") center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
}
.register-section .register-form a.second {
  background-color: var(--bs-purple);
  color: white;
}
.register-section .register-form a.second:hover {
  background-color: var(--bs-indigo);
}

@media screen and (max-width: 768px) {
  .register-section .register-image {
    display: none;
  }
} */
.register-navbar {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 7px;
}
.register-navbar .action-button {
  display: flex;
  align-items: center;
  gap: 15px;
}
.register-navbar .action-button span:first-child {
  font-size: 24px;
  line-height: 1;
}
.register-section {
  margin: 20px 0;
}
