<div class="densite-besoin shadow dashboard-component">
    <div class="loading" data-access="loaderOfNeeded">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="header">
        <h3>Besoin</h3>
        <select name="regionInNeed" id="regionInNeed">
            <option value="none">Region</option>
            {% for region in regions %}
                <option value={{ region.id }}>{{ region.nom }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="chart-component">
        <div class="chart">
            <canvas id="chartOfNeeds"></canvas>
        </div>
    </div>
</div>

{# Charge the background color asset to alter the color for each "besoin" #}
<script>
    let needs = {{ besoins|json_encode|raw }}

    densiteBesoin(needs)
</script>