<div class="total-commune-association dashboard-component shadow p-4">
    <div class="header">
        <h3>Commune</h3>
    </div>
    <div class="chart-component">
        <div class="chart">
            <canvas id="chartOftotalAssociationInCommune" ></canvas>
        </div>
    </div>
</div>

<script>
    const chartTotal = document.getElementById("chartOftotalAssociationInCommune")
    const totalAssociationInCommune = {{ totalAssociationInCommune|json_encode|raw }}
    
    totalCommuneAssociation(chartTotal, totalAssociationInCommune)
</script>